{% extends 'core/base.html' %}

{% block content1 %}
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center alert alert-info">Add User</h3>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Save">
            </form>
        </div>
        <div class="col-sm-7 offset-1">
            <h3 class="text-center alert alert-info">
                Users
            </h3>
            {% if users %}
                <table class="table table-light table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{user.id}}</th>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.password}}</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="{% url 'update' user.id %}">Edit</a>
                                    <form class="d-inline" action="{% url 'del' user.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="text-center alert alert-warning">No Records Found</h4>
            {% endif %}
        </div>
    </div>
    <h2>
        
    </h2> 
    
{% endblock content1 %} 