{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">  
</head>
<body>
    <script src="{% static 'core/js/bootstrap.js'%}"></script>
    <script src="{% static 'core/js/jquery.js'%}"></script>
    <script src="{% static 'core/js/popper.js'%}"></script>
    <div class="container m-5">
        <h1 class="text-center alert alert-danger">Function Based View CRUD</h1>
        
        {% block content1 %} {% endblock content1 %}
    </div>

    
</body>
</html>