{% extends 'core/base.html' %}

{% block content1 %}
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h3 class="alert alert-info">Edit User</h3>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Save">
                <a class="btn btn-info" href="{% url 'add' %}">Back</a>
            </form>
        </div>
    </div>
{% endblock content1 %}